# Optional override (recommended to leave blank and rely on discovery)
HUE_BRIDGE_IP=

# Will be created after pressing the bridge button & registering
HUE_USERNAME=
HUE_CLIENTKEY=

# Local server defaults
HOST=127.0.0.1
PORT=8000
